@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: none; */
}

html {
  /* font-family: "Roboto", serif; */
  /* font-family: "Roboto Condensed", sans-serif; */
  /* font-family: "Open Sans", serif; */
}

h1 {
  font-family: "Roboto", serif;
}

p {
  /* font-family: "Open Sans", serif; */
}
span {
  font-family: "Roboto Condensed", serif;
}

input::placeholder {
  color: var(--placeholder-color);
  font-family: "Roboto", serif;
}

textarea::placeholder {
  color: var(--placeholder-color);
  font-family: "Roboto", serif;
}

.header-title {
  font-family: "Open Sans", serif;
}

.box-shadow-top {
  box-shadow: rgba(50, 50, 93, 0.25) 0px -2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px -1px 3px -1px;
}

.box-shadow-around {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.box-shadow-left {
  box-shadow: 48px 0 20px rgba(0, 0, 0, 0.2);
}
.box-shadow-right {
  box-shadow: -48px 0px 20px rgba(0, 0, 0, 0.2);
}

.box-shadow-list:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.custom-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.custom-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.clamp-5 {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.inner-rounded-box-left {
  background: white;
  border-radius: 25px 0 0 0;
  padding-top: 10px;
  -webkit-mask-image: radial-gradient(
    circle at top right,
    transparent 0,
    transparent 40px,
    black 40px
  );
  mask-image: radial-gradient(
    circle at top right,
    transparent 0,
    transparent 40px,
    black 40px
  );
  mask-composite: exclude;
}
.inner-rounded-box-right {
  background: white;
  border-radius: 0 25px 0 0;
  -webkit-mask-image: radial-gradient(
    circle at top left,
    transparent 0,
    transparent 40px,
    black 40px
  );
  mask-image: radial-gradient(
    circle at top left,
    transparent 0,
    transparent 40px,
    black 40px
  );
  mask-composite: exclude;
}

input::placeholder {
  color: var(--placeholder-color);
}

textarea::placeholder {
  color: var(--placeholder-color);
}

.preloader-wrap {
  position: fixed;
  z-index: 1222;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preloader-wrap.loaded {
  display: none;
}
